In [2]:
a = 5
b = 6
print(a+b)

11

### datatypes

In [44]:
a = 5 # int
b = 3.14 # float
c = "apple" # string
d = True # bool

### type function

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### to display to the user using print

In [42]:
print(c)

apple

In [9]:
print(12345)

12345

In [10]:
print('hello world!!!')

hello world!!!

In [11]:
print(hello)

NameError: name 'hello' is not defined

In [41]:
# hello apple
# hello 5

In [51]:
# method-1
print("hello",c)
print('hello',a)
print()

# method-2
print("hello "+c)
print('hello '+str(a))
print()

# method-3
print("hello %s"%c)
print("hello %d"%a)
print()

# method-4
print("hello {}".format(c))
print("hello {}".format(a))
print("{} {}".format("hello",c))

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5
hello apple

In [57]:
# I bought 2kgs of mango for 34.75Rs
f = 'mango'
w = 2
c = 34.75
print("I bought ",w,"kgs of ",f," for ",c,"Rs",sep='')
print("I bought "+str(w)+"kgs of "+f+" for "+str(c)+"Rs")
print('I bought %dKgs of %s for %0.2fRs'%(w,f,c))
print("I bought {}kgs of {} for {}Rs".format(w,f,c))

I bought 2kgs of mango for 34.75Rs
I bought 2kgs of mango for 34.75Rs
I bought 2Kgs of mango for 34.75Rs
I bought 2kgs of mango for 34.75Rs

### to get the input from the user using input

In [16]:
firstName = input('Enter your first name: ')
mobile = input("Enter your mobile number: ")

Enter your first name: xyz
Enter your mobile number: 123456987

In [19]:
print(firstName)
print(mobile)

xyz
123456987

In [20]:
print(type(firstName))
print(type(mobile))

<class 'str'>
<class 'str'>

In [22]:
a = '5'
type(a)

str

### type casting (type conversion)

In [24]:
mobile = int(mobile)

In [25]:
print(type(firstName))
print(type(mobile))

<class 'str'>
<class 'int'>

In [31]:
num = float(input('Enter any number: '))

Enter any number: 4

In [32]:
print(num)
print(type((num)))

4.0
<class 'float'>

### operators

In [33]:
# + - * / % //

print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)
print(5 % 2)
print(5 // 2)

7
3
10
2.5
1
2

In [34]:
# > < >= <= == !=

print(5 > 2)
print(5 >= 2)
print(5 < 2)
print(5 <= 2)
print(5 == 2)
print(5 != 2)

True
True
False
False
False
True

In [38]:
# and or not
a = 5
b = 7

print(a < 10 and b < 10)
print(a < 5 and b < 10)

print(a < 10 or b < 10)
print(a < 5 or b < 10)
print(a < 3 or b < 5)

True
False
True
True
False

In [40]:
a = 3
print(not a)
a = None
print(not a)

False
True

### if-else

In [59]:
num = float(input("Enter any number: "))

if num % 2 == 0:
    print("number is even")
else:
    print('number is odd')

Enter any number: 5
number is odd

In [61]:
num = float(input("Enter any number: "))

if num % 2 != 0:
    print("number is odd")
else:
    print('number is even')

Enter any number: 10
number is even

### nested if

In [63]:
num = float(input("Enter any number: "))

if num % 2 == 0:
    print("number is even")
    if num <= 10:
        print('Number is less than 10')
else:
    print('number is odd')

Enter any number: 12
number is even

### if-elif-else

In [68]:
num = float(input("Enter any number: "))

if num % 4 == 0:
    print("number is divisible by 4 and also even")
elif num % 2 == 0:
    print("number is even")
else:
    print('number is odd')

Enter any number: 5
number is odd

### area of three objects task

In [ ]:
1. print the options to te user
2. get the object from user
3. get the inputs for the corresponding object
4. calculate area
5. print area

### while

In [69]:
i = 0
while i < 5:
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')
    i = i + 1 # i += 1

Enter any number: 25
number is odd
Enter any number: 24
number is divisible by 4 and also even
Enter any number: 14
number is even
Enter any number: 36
number is divisible by 4 and also even
Enter any number: 12
number is divisible by 4 and also even

In [70]:
opt = 'y'
while opt == 'y':
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')
    opt = input("Do you want to continue? y/n :")

Enter any number: 42
number is even
Do you want to continue? y/n :y
Enter any number: 27
number is odd
Do you want to continue? y/n :n

In [71]:
opt = 'y'
while opt == 'y':
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')
    opt = input("Do you want to continue? y/n :")
else:
    print("It's done!!!")

Enter any number: 38
number is even
Do you want to continue? y/n :y
Enter any number: 47
number is odd
Do you want to continue? y/n :n
It's done!!!

In [73]:
while True:
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')

Enter any number: 25
number is odd
Enter any number: 14
number is even
Enter any number: 36
number is divisible by 4 and also even
Enter any number: 58
number is even
Enter any number: h

ValueError: could not convert string to float: 'h'

In [74]:
while True:
    num = float(input("Enter any number: "))
    
    if num == 15:
        print("Stopping.....")
        break
    
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')

Enter any number: 25
number is odd
Enter any number: 14
number is even
Enter any number: 48
number is divisible by 4 and also even
Enter any number: 69
number is odd
Enter any number: 15
Stopping.....

In [75]:
while True:
    num = float(input("Enter any number: "))
    
    if num == 15:
        print("Stopping.....")
        break
    if num == 20 or num == 30:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')

Enter any number: 14
number is even
Enter any number: 18
number is even
Enter any number: 37
number is odd
Enter any number: 20
Skipping.....
Enter any number: 30
Skipping.....
Enter any number: 25
number is odd
Enter any number: 15
Stopping.....

### hw-1

write a python program for rock paper scissor game using the following rules

    rock beats scissor
    scissor beats paper
    paper beats rock

### string operations

In [1]:
name = "elephant"
sent = "elephant is an animal"

#### slicing

In [5]:
name[5],name[-3]

('a', 'a')

In [7]:
name[2:]

'ephant'

In [8]:
name[:4]

'elep'

In [10]:
name[2:7]

'ephan'

In [11]:
name[2:7:2]

'ehn'

In [62]:
name[::-1]

'tnahpele'

#### string functions

In [12]:
name.capitalize()

'Elephant'

In [13]:
name.lower()

'elephant'

In [14]:
name.upper()

'ELEPHANT'

In [15]:
'naME'.swapcase()

'NAme'

In [16]:
sent.title()

'Elephant Is An Animal'

In [17]:
sent.capitalize()

'Elephant is an animal'

In [20]:
name.center(25,'~')
name.center(25)

'         elephant        '

In [21]:
name.zfill(12)

'0000elephant'

In [22]:
len(name)

8

In [24]:
name.encode('utf16').decode('utf16')

'elephant'

In [26]:
name.startswith('el')
name.startswith('le')

False

In [28]:
name.endswith('nt')
name.endswith('nT')

False

In [29]:
name.count('e')

2

In [30]:
sent.count('an')

3

In [31]:
print('my\tname\tis\tabc')

my	name	is	abc

In [33]:
'my\tname\tis\tabc'.expandtabs(1)

'my name is abc'

In [34]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [37]:
temp = sent.split('an')
'an'.join(temp)

'elephant is an animal'

In [40]:
sent

'elephant is an animal'

In [38]:
sent.index('an')

5

In [42]:
name.find('e'), name.index('e')

(0, 0)

In [44]:
name.find('x')

-1

In [45]:
 name.index('x')

ValueError: substring not found

In [50]:
' elephant '.lstrip()
' elephant '.rstrip()
' elephant '.strip()

'elephant'

In [52]:
'elephantel'.strip('el')
'elephant'.strip('el')

'phant'

In [53]:
name.strip('el')

'phant'

In [54]:
name.replace('l','y')

'eyephant'

In [55]:
name.isalnum()

True

In [57]:
name.isalpha()
sent.isalpha()

False

In [58]:
name.isprintable()

True

In [59]:
"\t\%".isprintable()

False

In [61]:
" 2".isspace()

False

### task

write a python program to check whether the given string is palindrome or not

In [67]:
name = input("Enter any text to check :")
if name.isalpha():
    if name == name[::-1]:
        print("Palindrome")
    else:
        print('Not a palindrome')
else:
    print("Enter proper string")

Enter any text to check :malayalam
Palindrome

### list

In [69]:
L = []

In [70]:
l = [1,2,3,'apple','ball','cat',3.14,2.25]

#### slicing

In [72]:
l[3:]

['apple', 'ball', 'cat', 3.14, 2.25]

In [74]:
l[4] = 'bat'

In [75]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 3.14, 2.25]

In [77]:
del l[7]

In [79]:
len(l)

7

#### list functions

In [82]:
L.append('papaya')

In [83]:
L

['papaya']

In [84]:
l.append('papaya')

In [85]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 3.14, 'papaya']

In [86]:
l.index('cat')

5

In [87]:
l.insert(6,'kiwi')

In [88]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 3.14, 'papaya']

In [89]:
l.pop()

'papaya'

In [90]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 3.14]

In [91]:
l.remove(3.14)

In [92]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi']

In [94]:
L.clear()

In [95]:
L

[]

In [96]:
g = l

In [98]:
g.append("mango")

In [99]:
g

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [100]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [101]:
f = l.copy()

In [103]:
f.remove(2)

In [104]:
f

[1, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [105]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [106]:
l.reverse()

In [107]:
l

['mango', 'kiwi', 'cat', 'bat', 'apple', 3, 2, 1]

In [109]:
l[:5].sort()

In [111]:
g = l[:5]

In [112]:
g

['mango', 'kiwi', 'cat', 'bat', 'apple']

In [113]:
g.sort()

In [114]:
g

['apple', 'bat', 'cat', 'kiwi', 'mango']

In [115]:
g.sort(reverse=True)

In [116]:
g

['mango', 'kiwi', 'cat', 'bat', 'apple']

In [118]:
g.extend(['orange','papaya'])

In [119]:
g

['mango', 'kiwi', 'cat', 'bat', 'apple', 'orange', 'papaya']

In [121]:
list('orange')

['o', 'r', 'a', 'n', 'g', 'e']

In [123]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [ ]:
tuple
dictionary
for loop
error handling